# TILLAGE WITH BACM BACKUP PM10 MONITORING FOR FEBRUARY 2016

**PREPARED BY:** John Bannister, Air Sciences Inc.

**PROJECT NO.:** 410-04-33

**DATE:** March 14, 2016

In [7]:
devtools::load_all()
devtools::load_all("../Rowens")
library(dplyr)

Loading teomR
Loading Rowens

In [8]:
date1 <- "2016-02-01"
date2 <- "2016-03-01"
teom_met <- pull_teom_wind(date1, date2)
mfile <- pull_mfile(date1, date2)
df1 <- rbind(teom_met, mfile)

[1] "pulling wind data from teoms.teom_summary_data..."
[1] "pulling wind and pm10 data from archive.mfile_data..."

In [9]:
deploys <- as.character(unique(df1$deployment.id))
teom_locs <- pull_locations(deploys)
pm10_df <- pull_pm10(date1, date2, deploys)

[1] "pulling PM10 data from teoms.deployment_data..."
[1] "removing 4 hours with pm10.avg < -35"

In [10]:
teom_data <- inner_join(df1, select(teom_locs, deployment.id, deployment),
                  by="deployment.id") %>%
  left_join(pm10_df, by=c("datetime"="datetime_hour", "deployment")) %>%
  mutate(pm10 = ifelse(is.na(pm10.avg.x), pm10.avg.y, pm10.avg.x)) %>%
  select(-pm10.avg.x, -pm10.avg.y) 
find_missing(teom_data)

Source: local data frame [31 x 4]

          day   site hours  flag
       (date)  (chr) (int) (chr)
1  2016-02-01   T2-1    15  pm10
2  2016-02-02   T2-1    24  pm10
3  2016-02-03   T2-1    24  pm10
4  2016-02-04   T2-1    24  pm10
5  2016-02-05   T2-1    19  pm10
6  2016-02-08 T29-4S    14  pm10
7  2016-02-09 T29-4S    24  pm10
8  2016-02-10 T29-4S    22  pm10
9  2016-02-10     T7    16  pm10
10 2016-02-10     T7    16  wind
..        ...    ...   ...   ...

In [16]:
teom_locs <- pair_teoms(teom_locs)
teom_locs <- assign_wind_angle(teom_locs)
df1 <- inner_join(teom_data, select(teom_locs, deployment.id, dca.group, position), by="deployment.id")
events <- define_event(df1, teom_locs)
joined_events <- inner_join(filter(events, tag=="UW"), filter(events, tag=="DW"), by=c("datetime", "dca.group"))

In [17]:
clean_events <- joined_events %>% 
  group_by(data.id.x) %>%
  dplyr::select(datetime, dca.group,
                teom.uw=deployment.x, ws.uw=ws.x, wd.uw=wd.x, 
                pm10.uw=pm10.x, 
                teom.dw=deployment.y, ws.dw=ws.y, wd.dw=wd.y, 
                pm10.dw=pm10.y) %>%
  mutate(day=lubridate::day(datetime),
         ws.avg=mean(c(ws.uw, ws.dw))) %>%
  filter(ws.uw!=0,  ws.dw!=0) %>% arrange(datetime) %>%
  ungroup() 
daily_summary <- clean_events %>% group_by(day, dca.group) %>%
  summarize(daily.pm10.uw=sum(pm10.uw)/24, daily.pm10.dw=sum(pm10.dw)/24,
            # convert wind speed from mph to m/s
            ws.avg.mps=mean(c(ws.uw, ws.dw))*.44704) %>%
mutate(pm10.delta=daily.pm10.dw - daily.pm10.uw) %>% ungroup()

In [18]:
head(daily_summary)

Source: local data frame [6 x 6]

    day       dca.group daily.pm10.uw daily.pm10.dw   ws.avg.mps     pm10.delta
  (int)           (chr)         (dbl)         (dbl)        (dbl)          (dbl)
1     1   central (T12)  0.5807792264  0.6625228819 3.8111195416  0.08174365556
2     1     north (T29)  2.9906794035  2.8270018049 4.6489087512 -0.16367759861
3     1 south (T2 & T3)  0.1307083333            NA 3.9266295849             NA
4     2     north (T29)  0.8030268063  0.7126843035 1.3306063917 -0.09034250278
5     3     north (T29)  0.2267996667  0.2742449236 0.5913806185  0.04744525694
6     4     north (T29)  0.2991111250  0.3138987917 0.6570895761  0.01478766667

In [20]:
filter(daily_summary, pm10.delta > 10)

Source: local data frame [1 x 6]

    day   dca.group daily.pm10.uw daily.pm10.dw  ws.avg.mps  pm10.delta
  (int)       (chr)         (dbl)         (dbl)       (dbl)       (dbl)
1    14 north (T29)   3.306918699   16.26408399 3.474361134 12.95716529

In [24]:
head(arrange(daily_summary, desc(pm10.delta)))

Source: local data frame [6 x 6]

    day     dca.group daily.pm10.uw daily.pm10.dw  ws.avg.mps    pm10.delta
  (int)         (chr)         (dbl)         (dbl)       (dbl)         (dbl)
1    14   north (T29)  3.3069186993  16.264083990 3.474361134 12.9571652911
2    17 central (T12)  6.4542408872  16.387538174 4.471859615  9.9332972871
3    18   north (T29)  2.0997539760   3.457538772 4.453607127  1.3577847955
4     7   north (T29)  1.8451115278   2.988152222 3.519079730  1.1430406944
5    26 central (T12)  0.7728046361   1.282632840 3.854925513  0.5098282042
6    27   north (T29)  0.7251562361   1.035465338 1.106100787  0.3103091014