In [17]:
devtools::load_all()
devtools::load_all("../Rowens")
library(dplyr)

Loading teomR
Loading Rowens

In [18]:
date1 <- "2016-02-01"
date2 <- "2016-03-01"
teom_met <- pull_teom_wind(date1, date2)
mfile <- pull_mfile(date1, date2)
df1 <- rbind(teom_met, mfile)

[1] "pulling wind data from teoms.teom_summary_data..."
[1] "pulling wind and pm10 data from archive.mfile_data..."

In [19]:
deploys <- as.character(unique(df1$deployment.id))
locs <- pull_locations(deploys)
pm10_df <- pull_pm10(date1, date2, deploys)

[1] "pulling PM10 data from teoms.deployment_data..."
[1] "removing 4 hours with pm10.avg < -35"

In [21]:
teom_data <- inner_join(df1, select(locs, deployment.id, deployment),
                  by="deployment.id") %>%
  left_join(pm10_df, by=c("datetime"="datetime_hour", "deployment")) %>%
  mutate(pm10 = ifelse(is.na(pm10.avg.x), pm10.avg.y, pm10.avg.x)) %>%
  select(-pm10.avg.x, -pm10.avg.y) 
find_missing(teom_data)

Source: local data frame [31 x 4]

          day   site hours  flag
       (date)  (chr) (int) (chr)
1  2016-02-01   T2-1    15  pm10
2  2016-02-02   T2-1    24  pm10
3  2016-02-03   T2-1    24  pm10
4  2016-02-04   T2-1    24  pm10
5  2016-02-05   T2-1    19  pm10
6  2016-02-08 T29-4S    14  pm10
7  2016-02-09 T29-4S    24  pm10
8  2016-02-10 T29-4S    22  pm10
9  2016-02-10     T7    16  pm10
10 2016-02-10     T7    16  wind
..        ...    ...   ...   ...